body {
  background-color: #9c6130;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* Headings */
h1 {
  font-weight: 600;
  font-size: 80px;
  text-align: center;
}

/* Search area */
.outer_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search_container {
  position: relative;
  width: 500px;
}

.search_box {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  font-size: 16px;
}

/* Dropdown list styling */
ul {
  position: absolute;
  top: 100%;
  left: 0%;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown {
  color: #333;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

button {
  border-radius: 15px;
  background: none;
  border: none;
}

#upper_box {
  height: 200px;
  background-color: bisque;
}
